* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "EB Garamond", serif;
  line-height: 1.6;
  background: #ffffff;
  padding-top: 5%;
  padding-right: 5%;
}

mark {
  font-size: large;
}

p {
  padding-bottom: 10px;
  text-align: justify;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100vh;
  padding: 5%;
}

.right {
  margin-left: 40vw; /* same width as left column */
  padding: 20px;
}

@media (max-width: 1250px) {

  body {
    display: flex;
    flex-direction: column; /* stack vertically */
  }

  .left {
    position: static; /* remove fixed positioning */
    width: 100%;
    height: auto; /* let it size to content */
    background-color: var(--background_1);
    border: 2.5px dashed var(--background_2);
    padding-bottom: 10px;
  }

  .right {
    margin-left: 0; /* remove offset */
    width: 100%;
    height: auto; /* let content decide height */
  }
}